.mt-5 {
    margin-top: 2.5rem !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.mt-3 {
    margin-top: 1rem !important;
}
.margin-top-20 {
    margin-top: 20px;
}

.image-container {
    width: 300px;
    height: 200px;
    position: relative;
}

#preview_0, #preview_1, #preview_2, #preview_3, #preview_4, #preview_5, #preview_6, #preview_7, #preview_8, #preview_9{
    max-height: calc(100% - 34px); /* Уменьшаем высоту до 34px */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(103%) contrast(103%);
}
